* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.topFixedBanner{
    background-image: url(../images/topbanner.jpg);
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.topBannerLayout{
    position: absolute;
    min-height: 550px;
    width: 100%;
    background: rgb(0, 0, 0,0.7);
}

.topBannerText{
    margin-top: 10em;
}

.topbannertitle{
    font-size:48px;
    color: #fff;
    font-style: 'montserrat', sans-serif;
    font-weight: 700;
}
.topbannersubtitle{
    color: #fff;
    font-style: 'montserrat', sans-serif;
    font-weight: 400;
}
.serviceimages{
    height: 80px;
    width: 80px;    
}
.serviceCard{
   margin: 5px 5px 5px 5px;
   padding:60px 30px 60px 30px;
   height: 22rem;
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.serviceCard:hover{
    margin: 5px 5px 5px 5px;
    padding:60px 30px 60px 30px;
    height: 22rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
 }
 .serviceName{
    color: #03326d;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
 }
 .servicedescription{
    color: #435470;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
 }

 .servicetitle{
    color: #03326d;
    margin-top: 5rem;
    margin-bottom: 3rem;
    margin-bottom: 3rem;font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 28px;    
 }
  .buttom{
    background:#03326d none repeat scroll 0 0;
    height: 3px;
    width: 85px;
    margin: -1.9rem auto 0;
    margin-bottom:3rem; 
    width: 100px;
  }
  .Topnavtitle{
    color: #000000 !important;
    font-size: 24px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    margin-left: 1rem;
  }
  .Topnavtitlescroll{
    color: #2b0f8f !important;
    font-size: 24px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    margin-left: 1rem;
  }